body {
  font-size: 32px;
  font-style: italic;
  font-family: Caflisch Script Pro, cursives;
}



.section-1 {
  background: url('http://media.cntraveler.com/photos/58e7c97072e4d21b0b662eb2/master/w_775,c_limit/grace-bay-turks-and-caicos-GettyImages-200185854-001.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  /*hex color*/
  height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section-1: before {
  content: "";
  background: black;
  opacity: 0.9;
  position: absolute;
  top: 0
  bottom: 0;
  left: 0;
  right: 0;
}

.section-1 .button {
  position: absolute;
  right: 0;
  margin-right: 200px;
  margin-top: 20px;
  border-style: solid;
  border-color: white;
  padding: 14px 25px;
  text-transform: uppercase;
  color: white;
  top: 0;
  text-align: center;
  margin-top:30px;
  margin-right:30px;
  float: right;
  display: inline-block;;
}


.section-2 {
  height: 100vh;
  background: #F6F1D1;
  display: flex;
  justify-content: center;
  font-size: 24px;
  font-family: Gill Sans, sans-serif;
}

.section .left{
  width: 50%;
  display: inline-block;
}

.section-3 {
  height: 100vh;
  background: #70A9A1;
  display: flex;
  justify-content: center;
  font-size: 24px;
  font-family: Gill Sans, sans-serif;
}

#text_one {
  text-align: center;
  margin-top: 360px;
  font-size: 18px;
  font-family: Gill Sans, sans-serif;
}


#text_two {
  text-align: center;
  margin-top: 420px;
}

.section .right{
  width: 80%
  display: inline-block;
}

.section-4 {
  height: 100vh;
  background: #ED6A5A;
  display: flex;
  justify-content: center;
  font-family: Gill Sans, sans-serif;
  font-size: 18px;
  padding-top: 200px;
}

.section .center{
  width: 50%
  display: inline-block;
}

.section-5 {
  height: 100vh;
  background: #FEFFA5;
  display: flex;
  justify-content: center;
  font-family: Gill Sans, sans-serif;
  font-size: 18px;
}

.section .center{
  width: 50%
  display: inline-block;
}

.section-6 {
  height: 100vh;
  background: #311E10;
  display: flex;
  justify-content: center;
  font-size: 32px;
  font-family: Gill Sans, sans-serif;
  color: white;
  padding-top: 300 px;
  margin-top: 300 px; 
}

.section .center{
  width: 50%
  display: inline-block;
}
